.board {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.line {
    display: flex;
    gap: 5px;
}

.tile {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightgrey;
}
.close {
    background-color: yellow;
}
